@import "~@antuit/rappid-v1/build/package/rappid.css";

#root {
  overflow: hidden;
  position: relative;
  .canvas {
    position: relative;
    height: 95vh;
    width: 100vw;

    .joint-paper {
      
      transform: translate(-50%,-50%);
    }
    
  }
  .current-view{
      transform: translate(50%,50%);
    }
}
