@import "~@antuit/rappid-v1/build/package/rappid.css";

#root {
  overflow: hidden;
  position: relative;
  .canvas {
    position: relative;
    height: 87vh;
    width: 91vw;

    .joint-paper {
      
      transform: translate(-50%,-50%);
    }
    
  }
  .current-view{
      transform: translate(50%,50%);
    }
}

.joint-paper-scroller {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.joint-paper-scroller::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}