@antuit-zebra:registry=https://qa-artifactory-apac.zebra.com/artifactory/api/npm/sws-npm-dev/
//qa-artifactory-apac.zebra.com/artifactory/api/npm/sws-npm-dev/:username=${ARTIFACTORY_USERNAME}
//qa-artifactory-apac.zebra.com/artifactory/api/npm/sws-npm-dev/:_auth=${ARTIFACTORY_AUTH}
//qa-artifactory-apac.zebra.com/artifactory/api/npm/sws-npm-dev/:always-auth=true
@antuit:registry=https://gitlab-internal.antuit.ai/api/v4/projects/271/packages/npm
//gitlab-internal.antuit.ai/api/v4/projects/271/packages/npm/:_authToken=${NPM_TOKEN}
