.sidebar {
    justify-content: flex-end;
    margin-right: 60%;
    .text {
        width: max-content;
    }
}

.main-container {
    display: flex;
    justify-content: flex-end;
    .cancel-button {
        margin-right: 10px;
    }
    margin-top: 5px;
}
