.mainContainer {
    width: 100%;
    display: grid;
}

.main-container {
    display: flex;
    justify-content: flex-end;
    grid-column: auto / span 8;
    Button {
        margin: 4px;
    }
}

.needs-validation {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.schemaErrorMessage {
    color: red;
}

.minmaxWorkerIsEnableAutoscaling {
    width: 0% !important;
}

.letsCheck {
    display: flex;
}
