@font-face {
    font-family: 'NunitoFont';
    src: url('./font/nunito/nunito-regular.woff2') format('woff2');
}

@font-face {
    font-family: 'NunitoFont';
    font-weight: 300;
    src: url('./font/nunito/nunito-light.woff2') format('woff2');
}

@font-face {
    font-family: 'NunitoFont';
    font-weight: 600;
    src: url('./font/nunito/nunito-semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'NunitoFont';
    font-weight: 700;
    src: url('./font/nunito/nunito-bold.woff2') format('woff2');
}

.nunito {
    font-family: 'NunitoFont', Fallback, sans-serif;
}
