@font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 400;
    src: url('./font/ibm-plex-sans/IBMPlexSans-Regular.ttf') format('ttf');
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    src: url('./font/ibm-plex-sans/IBMPlexSans-Medium.ttf') format('ttf');
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    src: url('./font/ibm-plex-sans/IBMPlexSans-SemiBold.ttf') format('ttf');
}

@font-face {
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    src: url('./font/ibm-plex-sans/IBMPlexSans-Bold.ttf') format('ttf');
}

.ibm-plex-sans {
    font-family: 'IBM Plex Sans', sans-serif;
}
