    .bodyMessages{
        flex-direction: column;
                
    .title{
     
        font-weight: 400;
        font-size: 24px;
        line-height: 33px;
  
    }
    .messageFirst{
       
        font-weight: 400;
        font-size: 36px;
        line-height: 49px;
    }
    .messageSecond{
        font-weight: 400;
        font-size: 16px;
        line-height: 22px; 
        text-align: center;      
    }
    }
    .button{    
        font-weight: 600;
        font-size: 11px;
        line-height: 16px; 
    }
    .navLink{
      
        font-weight: 400;
        font-size: 12px;
       
        }