.spinner {
    position: absolute;
    z-index: 9999999;
    height: 2em;
    width: 2em;
    overflow: hidden;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.spinnerContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.dividerStepsUI {
    border-color: #2180c2;
}

.computeIdCell {
    color: rgb(3, 135, 176);
    cursor: pointer;
}
.ag-theme-alpine {
    --ag-foreground-color: #111111;
    --ag-data-color: 'red';
    --ag-background-color: white;
    --ag-header-foreground-color: #333333;
    --ag-header-background-color: #f6f6f6;
    --ag-font-weight: 400px;
    --ag-font-size: 16px;
    --ag-font-family: 'IBM Plex Sans';
}
span.ag-header-cell-text {
    font-family: 'IBM Plex Sans';
}
//.chakra-ui-light {
//    --chakra-fontSizes-4xl: 20px;
//}

