.compute_page {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
    margin: 38px;
}
div.ag-center-cols-container {
    width: 100%;
}

.icons {
    cursor: pointer;
}
.computeIdCell {
    color: rgb(3, 135, 176);
    cursor: pointer;
}
.spinner {
    left: 47%;
    position: absolute;
    text-align: center;
    z-index: 1000000;
    top: 40%;
}
.ag-theme-alpine {
    --ag-foreground-color: #333333;
    --ag-background-color: white;
    --ag-header-foreground-color: #333333;
    --ag-header-background-color: #f6f6f6;
    font-family: 'IBM Plex Sans';
}
.ag-ltr .ag-cell {
    font-size: 16px;
    font-weight: 400;
}
.ag-header-cell-text {
    font-size: 16px;
    font-weight: 600;
}
