.compute_page {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    font-feature-settings: 'tnum' on, 'lnum' on;
    margin: 38px;
}
div.ag-center-cols-container {
    width: 100%;
}

.icons {
    cursor: pointer;
}
