.dataset-page {
    padding-left: 24px;
    padding-right: 24px;
    .dividerCss {
        border-color: #d8dcde;
    }

    .divider-color {
        background-color: black;
    }
    .insideButtonDivider {
        border-color: #186da9;
    }
}
